.venv/
models/
third_party/
__pycache__/
.pytest_cache/
build/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
outputs/
raw_PDB/
clean_PDB/
*.zip
*.pdf
*.docx
*.pse
*.xlsx
*.ipynb_checkpoints/
.DS_Store
参考资料/
神秘算法/
